body {
  font-family: "Roboto", sans-serif;
}

.slider {
  width: 1200px;
  height: 600px;
  max-width: 100%;
  position: relative;
  margin: 50px auto;
  padding: 20px 50px;
  /*ARROWS*/
  /*PAGINATOR*/
}
.slider-container {
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slider-box {
  width: 100%;
  height: 100%;
  position: absolute;
  transition-property: left;
  left: 0;
}
.slider-item {
  width: 100%;
  height: 100%;
  display: none;
  /* 3 blocos || 2 blocos (1 bloco vermelho) */
  /* 1 bloco */
  /* 2 blocos (o segundo) primeiro vermelho*/
}
.slider-item.active {
  display: block;
}
.slider-item article {
  float: left;
  position: relative;
  width: 50%;
  height: 50%;
  overflow: hidden;
}
.slider-item article:first-child {
  border-right: 1px solid white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.slider-item article:nth-child(3) {
  border-top: 1px solid white;
}
.slider-item article:nth-child(2) {
  border-top-right-radius: 10px;
}
.slider-item article:last-child {
  border-bottom-right-radius: 10px;
}
.slider-item article a {
  float: left;
  width: 100%;
  height: 100%;
  display: flex;
  color: inherit;
}
.slider-item article a header {
  float: left;
  width: 100%;
}
.slider-item article .center {
  display: block;
  margin: auto;
  padding: 0 40px;
}
.slider-item article hr {
  border: 0;
  float: left;
  width: 100%;
  height: 100%;
  background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
  /* top | left | center | 20% 75% |  bottom 50px right 100px | right 35% bottom 45% 
  link: https://developer.mozilla.org/pt-BR/docs/Web/CSS/background-position */
  background-position-x: var(--bg-x);
  background-position-y: var(--bg-y);
  background-image: var(--bg);
  transition-duration: 0.1s;
  transition-property: transform;
}
.slider-item article hr + a {
  z-index: 99;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.1) 33%, #000 100%);
}
.slider-item article hr + a header {
  bottom: 0;
  z-index: 99;
  padding: 30px;
  position: absolute;
  transition-duration: 0.1s;
  transition-property: padding;
  -webkit-transition: all 0.1s ease-in-out;
}
.slider-item article .phrase {
  text-transform: uppercase;
  font-size: 1.8em;
  line-height: 1.2;
  padding-bottom: 10px;
}
.slider-item article .title {
  font-size: 36px;
  line-height: 1.2em;
  font-weight: 700;
}
.slider-item article .subtitle {
  margin: 10px 0 0;
  font-size: inherit;
  line-height: 1.2em;
  color: inherit;
  font-weight: 500;
  font-size: 20px;
}
.slider-item article .author {
  display: block;
  padding-bottom: 4px;
  padding-top: 10px;
  font-size: 16px;
  color: #444;
}
.slider-item article .pubdate {
  display: block;
  font-size: 15px;
  color: #666;
}
.slider-item article hr + a header {
  color: white;
}
.slider-item article hr + a .phrase {
  text-shadow: 0 1px 1px #000;
}
.slider-item article hr + a .title {
  text-shadow: 0 1px 1px #000;
}
.slider-item article hr + a .subtitle {
  text-shadow: 0 1px 1px #000;
}
.slider-item article hr + a .pubdate {
  display: none;
}
.slider-item article hr + a .author {
  display: none;
}
.slider-item article:nth-of-type(3n+1) {
  height: 100%;
}
.slider-item article:nth-of-type(3n+1):last-child {
  width: 100%;
  border: 0;
}
.slider-item article:nth-of-type(3n+1) + article:nth-last-child(1) {
  height: 100%;
}
.slider-arrows hr {
  top: 50%;
  border: 0;
  width: 50px;
  opacity: 0.1;
  height: 50px;
  cursor: pointer;
  margin-top: -25px;
  position: absolute;
  background-size: 40px;
  background-position-y: center;
  background-repeat: no-repeat;
}
.slider-arrows hr.left {
  float: left;
  background-image: url("../img/left.png");
  background-position-x: right;
  left: 0;
}
.slider-arrows hr.right {
  float: right;
  background-image: url("../img/right.png");
  background-position-x: left;
  right: 0;
}
.slider-container:hover + .slider-arrows hr {
  background-size: 50px;
  opacity: 1;
  background-position-x: center;
}
.slider-arrows:hover hr {
  background-size: 50px;
  opacity: 1;
  background-position-x: center;
}
.slider-arrows hr:active {
  background-size: 45px;
}
.slider-paginator {
  float: left;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
.slider-paginator li {
  height: 30px;
  border-radius: 3px;
  font-weight: 500;
  display: inline-block;
  margin: 0 5px;
  background-color: #eee;
  width: 30px;
  line-height: 30px;
  cursor: pointer;
}
.slider-paginator .active {
  background-color: #98BFF5;
}

@media (max-width: 800px) {
  .slider {
    padding: 0;
    margin: 0;
    height: 420px;
  }
  .slider-arrows {
    display: none;
  }
  .slider-item {
    display: block;
  }
  .slider-item article {
    border: 0 !important;
    border-radius: 0 !important;
    width: 100%;
    height: 100%;
    display: none;
  }
  .slider-item article.active {
    top: 0;
    display: block;
    position: absolute;
  }
}
@media (max-width: 700px) {
  .slider {
    height: 380px;
    padding: 0;
    margin-top: 0;
  }
}
/*https://stackoverflow.com/questions/31507128/flex-box-columns-with-multiple-children*/
